@model Species
<div>

	@if (Model == null || Model.Breeds==null)
	{
		<h2>Not Found</h2>
	}

	else
	{
		
		<h2>@Model.Name</h2>
		@foreach(var breed in Model.Breeds)
		{
			<a class="nav-link text-dark" asp-area="" asp-controller="Breeds" asp-action="Breed" asp-route-id="@breed.Id">
				<img width="300" height="200" src="@breed.Image" />
				<h2>@breed.Name</h2>
				<p>@breed.Description</p>
			</a>
		}
	}
</div>