@model Species

<div class="container d-flex flex-column pt-3 gap-3 justify-content-center align-items-center">
	<h2>Are you sure you want to delete @Model.Name</h2>
	<div class="card d-flex justify-content-between align-items-center p-2" style="width:300px; height:350px">
		<a class="nav-link text-dark text-center" asp-area="" asp-controller="Breeds" asp-action="Index" asp-route-SpeciesId="@Model.Id">
			<img class="card-img" src="@Model.Image" />
			<h2>@Model.Name</h2>

			@if (Model.Breeds != null)
			{
				<small>Has @Model.Breeds.Count() breeds</small>
			}
			else
			{
				<small>Has 0 breeds</small>
			}
		</a>
		<div class="d-flex justify-content-center gap-2 w-100">
			<form asp-action="DeleteSpecies" method="post">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Yes" class="btn btn-danger" />
			</form>
			<a class="btn btn-primary" asp-controller="Species" asp-action="Index" asp-route-PetsId="@Model.PetId">No</a>
		</div>
	</div>
</div>