@model IEnumerable<Species>



<div>
	@foreach(var species in Model)
	{
		<a class="nav-link text-dark" asp-area="" asp-controller="Species" asp-action="Breeds" asp-route-id="@species.Id">
			<img width="300" height="200" src="@species.Image" />
			<h2>@species.Name</h2>
			@if (species.Breeds != null)
			{
				<small>Has @species.Breeds.Count() breeds</small>
			}
			<p>@species.Description</p>
		</a>
	}
</div>