@model IEnumerable<Pet>


<div class=" container d-flex flex-wrap pt-3 gap-3 justify-content-center align-items-center">
	@if(Model==null || Model.Count() < 1)
	{
		<h1>There isn't any data</h1>
	}
	else
	{
		@foreach(var pet in Model)
		{
			<div class="card d-flex justify-content-between align-items-center p-2" style="width:300px; height:300px">
				<a  class="nav-link text-dark text-center" asp-area="" asp-controller="Species" asp-action="Index" asp-route-PetsId="@pet.Id">
					<img class="card-img" src="@pet.Image" />
					<h4>@pet.Name</h4>
					<small>Has @pet.Species.Count() species</small>
				</a>
				<div class="d-flex justify-content-center gap-2 w-100">
					<a class="btn btn-primary" asp-controller="Pets" asp-action="Edit" asp-route-Id="@pet.Id">Edit</a>
					<a class="btn btn-danger" asp-controller="Pets" asp-action="Delete" asp-route-Id="@pet.Id">Delete</a>
				</div>
			</div>
		}
	}
</div>
