@model IEnumerable<Pets>


@if (Model == null)
{
	<h1>Not Found</h1>
}
else
{
	<div>
		<a class ="btn btn-primary" asp-controller="Pets" asp-action="Create">Add Animal Type +</a>

		@if (Model.Count() < 1)
		{
			<h2>There isn't any Animal types in Database'</h2>
		}
		@foreach(var pet in Model)
		{
			<a class="nav-link text-dark" asp-area="" asp-controller="Species" asp-action="Index" asp-route-PetsId="@pet.Id">
				<img width="300" height="200" src="@pet.Image" />
				<h2>@pet.AnimalType</h2>
				<small>Has @pet.Species.Count() species</small>
				<p>@pet.Description</p>
				<a class="btn btn-primary" asp-controller="Pets" asp-action="Edit" asp-route-Id="@pet.Id">Edit</a>
				<a class="btn btn-danger" asp-controller="Pets" asp-action="Delete" asp-route-Id="@pet.Id">Delete</a>
			</a>
		}
	</div>
}
